.gnt-sec-0 {
  flex: 0 0 100%;
  max-width: 100%;
}
.gnt-sec-1 {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 5em;
  margin-bottom: 5em;
}
.gnt-sec-2 {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 4em;
  margin-bottom: 4em;
}
.gnt-sec-3 {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 3em;
  margin-bottom: 3em;
}
.gnt-sec-4 {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}
.gnt-sec-5 {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}
