// Ref: https://vuetifyjs.com/ja/api/vuetify/#sass
@import '~vuetify/src/styles/styles.sass';

// Colors //
$op-dark-grey: '#eaddcf';

// Typography //
$font-size-root: 18px;
$body-font-family: 'Noto Sans Japanese', 'Roboto';
$heading-font-family: $body-font-family;
