<v-row class="d-flex justify-center">
  <v-col cols="12" sm="10">
    <v-row>
      <v-col cols="12">
        <h2 class="text-center">Download (v0.1.0)</h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <ul>
          <li>
          <a href="https://zenodo.org/record/5909087#.YjmSTupBxPY" target="_blank">zenodo</a>
          </li>
        </ul>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" class="secondary--text">
        Note: We are planning to hold a competition and are discussing the challenges you will solve. Therefore, only limited data will be available until the competition is held.
      </v-col>
    </v-row>
  </v-col>
</v-row>